/* You can add global styles to this file, and also import other style files */
.del {
  background: red;
  color: aliceblue;
  /* padding: 5px 10px; */
  /* border-radius: 50%; */
  float: right;
  cursor: pointer;
}

.todo {
  font-size: x-large !important;

  padding: 15x;

}

.is-completed {
  text-decoration: line-through;
}



rifgh {
  text-align: right !important;
}

p input {
  font-size: 50px;
}

.btn btn-outline-success {
  font-size: 50px !important;
  
}