/* You can add global styles to this file, and also import other style files */
.del {
  background: red;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.todo{

  /* background: black; */
  padding: 10x;

}

.is-completed{
  text-decoration: line-through;
}

/* * {
  color: black !important;
  size: 30px;
} */